body{
    text-align: center;
    background-color: azure;
    padding: 10%;
    
}
.one{
    width: 450px;
    height: 300px;
    margin :auto;
    background-color: hsl(0, 8%, 97%);
    padding-top :30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px;
}
#myh1{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans';
}
button{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
    color : white;
    font-size: larger;
    cursor: pointer;
}
#myh2{
    color:rgb(4, 85, 4);
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans';
}